{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <form action="{{ path('security_examples_lfi') }}" method="POST">
    <div class="form-group">
      <label for="customer-id">Customer id</laœbel>
        <input type="text" class="form-control" id="customer-id" aria-describedby="customer_id_help" placeholder="Customer id" name="customer_id">
        <small id="customer_id_help" class="form-text text-muted">Find a customer by its id.</small>
    </div>

    <button type="submit" class="btn btn-primary">Find</button>
  </form>

  {% if finder is not empty %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Filename</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        {% for file in finder %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{file.filename}}</td>
            <td><a href={{ path('security_examples_lfi_download', {file: file.relativePathName}) }}>Download</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
